.component-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  overflow: auto;
}

.component {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: auto;
}

h2{
  width: fit-content;
}

.spacer {
  flex: 1 1 auto;
}
