<div class="component">
  <h2>{{this.getHeadLineText()}}</h2>
    <video [muted]="true" height="80%" #videoPlayer (ended)="onVideoEnded()" [poster]="'/assets/image/StudyThumbnail.png'" (loadeddata)="onDataLoaded()" (timeupdate)="getVideoProgress()">
      <source src="{{videoLink}}" type="video/mp4">
    </video>
    <span>{{getVideoProgress()}}</span>
  <button mat-flat-button class="button-big" color="primary" (mousedown)="onSyncButtonPress()" (mouseup)="onSyncButtonRelease()" [disabled]="!videoLoaded || keyDownBlocked">{{getButtonText()}}</button>
</div>

